version: '3.6'
services:
  db:
    container_name: db
    image: postgres:alpine
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: bdio
      POSTGRES_DB: bdio
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: always

  backend:
    restart: always
    container_name: backend
    image: ghcr.io/kacperjarocki/coders-place-backend:latest
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/bdio
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=bdio

  frontend:
    restart: always
    container_name: frontend
    image: ghcr.io/kacperjarocki/coders-place-frontend:latest
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - frontend
